<h1><%= @task.title %></h1>

<p id="task-details"><%= @task.details %></p>

<% if @task.completed?  %>
  <input type="checkbox" checked >
  <label for="">The task is completed</label><br>
<% else %>
  <input type="checkbox" >
  <label for="">The task is not completed yet</label><br>
<% end %>
<br>
<%= link_to "Back to list", "/tasks" %>
<%= link_to "Edit the task", edit_task_path %>


